<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<body>
    <main>
        <div class="edit">
            <img [src]="camiseta.imagem" alt="{{camiseta.clube}}">
            <div class="principal">
                <h1>Atualizar camiseta</h1>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="atributos">
                        <label for="clube">Clube - Home/Away:</label>
                        <input 
                            formControlName="clube"
                            id="clube" 
                            type="text" 
                            [(ngModel)]="camiseta.clube"
                            placeholder="ex: Barcelona - Home">
                        <div *ngIf="f['clube'].touched && f['clube'].invalid" class="alert">
                            <div *ngIf="f['clube'].errors?.['required']">*</div>
                        </div>
                    </div>
                    <div class="atributos">
                        <label for="pais">País - Continente:</label>
                        <input 
                            formControlName="pais"
                            id="pais" 
                            type="text" 
                            [(ngModel)]="camiseta.pais"
                            placeholder="ex: Brasil - America">
                        <div *ngIf="f['pais'].touched && f['pais'].invalid" class="alert">
                            <div *ngIf="f['pais'].errors?.['required']">*</div>
                        </div>
                    </div>
                    <div class="atributos">
                        <label for="ano">Ano:</label>
                        <input 
                            formControlName="ano"
                            id="ano" 
                            [(ngModel)]="camiseta.ano"
                            type="text">
                        <div *ngIf="f['ano'].touched && f['ano'].invalid" class="alert">
                            <div *ngIf="f['ano'].errors?.['required']">*</div>
                        </div>
                    </div>
                    <div class="atributos">
                        <label for="quantidade">Quantidade:</label>
                        <input 
                            formControlName="quantidade"
                            id="quantidade" 
                            [(ngModel)]="camiseta.quantidade"
                            type="number">
                        <div *ngIf="f['quantidade'].touched && f['quantidade'].invalid" class="alert">
                            <div *ngIf="f['quantidade'].errors?.['required']">*</div>
                        </div>
                    </div>
                    <div class="atributos">
                        <label for="valor">Valor:</label>
                        <input 
                            formControlName="valor"
                            id="valor" 
                            [(ngModel)]="camiseta.valor"
                            type="number" >
                        <div *ngIf="f['valor'].touched && f['valor'].invalid" class="alert">
                            <div *ngIf="f['valor'].errors?.['required']">*</div>
                        </div>
                    </div>
                    <div class="atributos">
                        <label for="imagem">URL da Imagem:</label>
                        <input 
                            formControlName="imagem"
                            id="imagem" 
                            [(ngModel)]="camiseta.imagem"
                            type="text">
                        <div *ngIf="f['imagem'].touched && f['imagem'].invalid" class="alert">
                            <div *ngIf="f['imagem'].errors?.['required']">*</div>
                        </div>
                        <div *ngIf="f['imagem'].touched && f['imagem'].valid" class="alert">
                            <div *ngIf="f['imagem'].errors?.['required']"><img src="" alt=""></div>
                        </div>
                    </div>
                    <button type="submit" [disabled]="!form.valid">Atualizar</button>
                </form>
            </div>
        </div>
    </main>
</body>
<app-footer class="footer"></app-footer>