<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<main>
    <div class="pesquisa">
        <label class="busca">Digite o número da venda:
            <input type="number"  [(ngModel)]="valorBusca" (keyup.enter)="busca()">
            <button (click)="busca()">Buscar</button>
        </label>
    </div>
    <div class="modulos">
        <a [routerLink]="['/management']">
            <button class="update">Camisetas</button>
        </a>
        <a [routerLink]="['/clientes']">
            <button class="update">Clientes</button>
        </a>
        <a [routerLink]="['/vendas']">
            <button class="update">Vendas</button>
        </a>
    </div>
    <img [routerLink]="['/vendas/create/']" class="create" src="../../../../assets/images/botao_add.png" alt="" >
    <div class="card" *ngFor="let venda of vendasFiltradas">
        <div class="infos">
            <h3>Número da compra: {{ venda.id }}</h3>
            <h3>{{ venda.cliente.nome }}</h3>
            <h4>CPF: {{ venda.cliente.cpf }}</h4>
                
        </div>
        <div class="buttons">
            <button [routerLink]="['/vendas/details', venda.id]">Visualizar</button>
            <button [routerLink]="['/vendas/edit', venda.id]">Atualizar</button>
            <button (click)="deleteVenda(venda.id)">Deletar</button>
        </div>
    </div>
  </main>
<app-footer></app-footer>