@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2vw;
}
.carrinho:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    cursor: pointer;
}


@media (min-width: 767px) {
    div{
        display: flex;
        align-items: center;
    
    }
    div> * {
    display:block;
    }
    .card {
        margin: auto;
        width: 60vw;
        height: 38vw;
        font-family: 'Lexend', sans-serif;
        font-size: 1.2vh;
    }
    .card img{
        display: block;
        width: 35vw;
        height: 35vw;
    }
    .card h3{
        font-size: 2vw;
    }
    .card h4{
        font-size: 2vw;
        color: gray;
    }
    .card h5{
        font-size: 2vw;
        color: #1f796c;
    }
    .card > * {
        margin-left: 1vw; 
    }

    .carrinho {
        margin-right: 3vw;
        margin-bottom: 4vw;
        position: fixed; 
        bottom: 2vh; 
        right: 1vh; 
        width: 10vh; 
        height: 10vh;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
        z-index: 999; 
      }
      .carrinho img{
        width: 5vh;
        height: 5vh;
    
      }


.add:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
    cursor: pointer;
}
.add{
    background-color: #1f796c;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    width: 15vw;
    height: 3vw;
    font-size: 0.5vw;
}
.voltar{
    margin-right: 70%;
    margin-bottom: 3vw;
    background-color: #F4483C;
    color: white;
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
    border-color: #F4483C;
    margin-left: 2vw;
    cursor: pointer;
   }
   .voltar img{
    height: 90%;
   }
   input{
    width: 4vw;
   }
}
@media (max-width: 767px) {
    .card {
        margin: auto;
        width: 95vw;
        height: 170vw;
        font-family: 'Lexend', sans-serif;
        font-size: 1.2vh;
        font-family: 'Lexend', sans-serif;
    }
    .card img{
        margin: auto;
        display: block;
        width: 70vw;
        height: 70vw;
    }
    .card h3{
        font-size: 5vw;
    }
    .card h4{
        font-size: 5vw;
        color: gray;
    }
    .card h5{
        font-size: 5vw;
        color: #1f796c;
    }
    .card > * {
        margin-left: 1vw; 
        margin-top: 1px;
    }

    .carrinho {
        margin-right: 3vw;
        margin-bottom: 12vw;
        position: fixed; 
        bottom: 2vw; 
        right: 1vw; 
        width: 25vw; 
        height: 25vw;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
        z-index: 999; 
      }
      .carrinho img{
        width: 10vw;
        height: 10vw;
    
      }


.add:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
.add{
    background-color: #1f796c;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    width: 60vw;
    height: 15vw;
    font-size: 2vw;
    margin-top: 5vw;
    margin-bottom: 3vw;
    cursor:pointer;
}
.voltar{
    background-color: #F4483C;
    color: white;
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
    border-radius: 1vw;
    border-color: #F4483C;
   }
   .voltar img{
        height: 90%;
   }
   input{
    width: 8vw;
   }
   label{
    font-size: 4vw;
    margin-right: 4vw;
   }
}

#quantidade{
    margin-bottom: 2vw;
    margin-top: 1vw;
}