<app-header></app-header>
<main>
  <div class="filtro">
    <label for="opcoes">Selecione uma opção:</label>
    <select id="opcoes" [(ngModel)]="opcaoSelecionada" name="opcaoSelecionada" (change)="selecaoAlterada()">
      <option value="Todas">Todas</option>
      <option value="Home">Home</option>
      <option value="Away">Away</option>
      <option value="Fan">Fan</option>
      <option value="Special">Special Edition</option>
    </select>
  </div>
    <div class="card" *ngFor="let camiseta of camisetasFiltradas">
      <a [routerLink]="['/details', camiseta.id]">
        <img [src]="camiseta.imagem" alt="{{ camiseta.clube }}">
      </a>
      <h3>{{ camiseta.clube }}</h3>
      <h4>{{ camiseta.ano }}</h4>
      <h5>R$ {{ camiseta.valor }}</h5>
    </div>
    <button class="carrinho" [routerLink]="['/shopping_cart']">
      <img src="../../../../assets/images/carrinho-de-compras.png" alt="Carrinho">
    </button>
  </main>
<app-footer></app-footer>