<app-header></app-header>
<main>
  <div class="titulo">
    <h3>Confira a coleção Manchester City</h3>
    <img class="escudo" src="../../../../assets/images/escudo_manchester_city.png" alt="">
  </div>
  <div class="imagens">
    <button class="hover" (click)="mostrarImagemAnterior()"><img class="left" src="../../../../assets/images/arrow.png" alt=""></button>
    <img class="home_picture" [src]="imagens[imagemAtualIndex]" alt="Imagem">
    <button class="hover" (click)="mostrarProximaImagem()"><img class="right" src="../../../../assets/images/arrow.png" alt=""></button>
  </div>
  <button [routerLink]="['/search', 'manchester city']" class="colecao titulo comprar hover"> <img class="escudo" src="../../../../assets/images/escudo_manchester_city.png" alt="">Coleção</button>
  <div class="faixa_vermelha">
    <div class="margem">
      <button class="hover" [disabled]="!passadorEsquerda"  (click)="removeContadorPaises()"><img class="left" src="../../../../assets/images/arrow.png" alt=""></button>
    </div>
    <div class="agrupa hover" *ngFor="let pais of paises.slice(indicePaises, indicePaises + 5)">
      <div [routerLink]="['/search2/', pais.nomeBusca]" class="circle">
        <img src="{{ pais.imagem }}" alt="{{ pais.nome }}">
      </div>
      <h4>{{ pais.nome }}</h4>
    </div>
    <div class="margem">
      <button class="hover" [disabled]="!passadorDireita" (click)="addContadorPaises()"><img class="right" src="../../../../assets/images/arrow.png" alt=""></button>
    </div>
  </div>
  <h3 class="titulo home_titulo">Nossas camisas</h3>
  <div class="filtro">
    <label for="opcoes">Filtro:</label>
    <select id="opcoes" [(ngModel)]="opcaoSelecionada" name="opcaoSelecionada" (change)="selecaoAlterada()">
      <option value="Todas">Todas</option>
      <option value="Home">Home</option>
      <option value="Away">Away</option>
      <option value="Fan">Fan</option>
      <option value="Goalkeeper">Goalkeeper</option>
      <option value="Special">Special Edition</option>
    </select>
  </div>
    <div [routerLink]="['/details', camiseta.id]" class="card hover" *ngFor="let camiseta of camisetasFiltradas">
      <img  [src]="camiseta.imagem" alt="{{ camiseta.clube }}">
      <h3>{{ camiseta.clube }}</h3>
      <h4>{{ camiseta.ano }}</h4>
      <h5>R$ {{ camiseta.valor }}</h5>
    </div>
    <button class="carrinho hover" [routerLink]="['/shopping_cart']">
      <img src="../../../../assets/images/carrinho-de-compras.png" alt="Carrinho">
    </button>
  </main>
<app-loading *ngIf="carregar"></app-loading>
<app-footer></app-footer>