@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
header{
    box-shadow: 0px 15px 10px -15px #111; 
    font-family: 'Lexend', sans-serif;   
}
div{
    display: block;
    align-items: center;
}
header .search{
    margin-left: 30vw;
    background-color: #fff;
}
header h1{
    margin-left: 45vw;
    color: #F4483C;
}
.imagem{
    position: absolute;
    top: 5vw;
    right: 2vw;
    height: auto;
    background-color: #fff;
}
.imagem img{
    border-radius: 10px;
    display: block;
    margin-bottom: 1vw;
}
.menu{
    position: absolute;
    top: 5vw;
    left: 2vw;
    height: 4vw;
    display: flex;
    background-color: #fff;
    color: #F4483C;
 
}
.menu img{
    border-radius: 10px;
    margin-right: 1vw;
}
.rastreio{
    position: absolute;
    top: 8vw;
    left: 2vw;
    display: flex;
    color: #F4483C;
    width: fit-content;
    height: 4vw;
    margin-top: 1vw;
}
.rastreio img{
    border-radius: 10px;
    margin-right: 1vw;
}
.sale{
    width: 100%;
    height: 3vw;
    background: linear-gradient(to bottom, #F4483C, #F4483C, #F4483C, #000000);
    box-shadow: 0px 15px 10px -15px #111; 
    border-radius: 10px;
}
.sale h4{
    margin: auto;
    margin-top: 0.5vw;
    margin-left: 45vw;
}
.openMenu{
    position: absolute;
    width: auto;
    height: auto;
    top: 7vw;
    left: 35vw;
    background-color: #F4483C;
    font-size: 2vw;
    border-radius: 20px;
    

}
.openMenu ul{
    padding: 1vw;
    margin: 1vw;
    color: #000000;
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;

}
.openMenu ul img{
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top:0.2vw;
}
.openMenu li{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 4vw;
    border-radius: 10px;
    
}
.openMenu h4{
    margin-top:0.2vw;
    margin-right: 1vw;
    
}
.background{
    position: fixed;
    top: 0; /* A partir do topo */
    left: 0; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
}
.background button{
    position: fixed;
    top: 1vw; /* A partir do topo */
    left: 35vw; 
    width: 10vw;
    height: 4vw;
    border-radius: 10px;
    background-color: #F4483C;
    color: #fff;
    border: none;
    font-size: 1.5vw;
}
@media (min-width: 768px) {
header {
    height: 14vw;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajuste o valor conforme necessário para garantir que o cabeçalho esteja acima de outros elementos */
    margin-bottom: 2vw;
    border-radius: 30px;
}
.principal{
    width: 100%;
    height:5vw;
    gap: 5vw;
    display: flex;
    justify-content:center;
}
h1{
    margin-left: 1em;
    font-size: 2vw;
    margin-right: 3vw;
}

input{
    border-style: none;
    width: 35vw;
    height: fit-content;
    margin-left: 3em;
    font-size: 1.5vw;
}
input:focus {
    outline: none; /* Remove a borda de foco padrão */
    /* Outros estilos que você deseja aplicar quando o input é clicado */
}
img{
    width: 3vw;
    height: 3vw;
}
.search{
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 3vw;
    width: 40%;
}
h3{
    margin-right: 2vw;
    font-size: 1.5vw;
}
}
@media (max-width: 767px) {
header {
    height: 38vw;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajuste o valor conforme necessário para garantir que o cabeçalho esteja acima de outros elementos */
    font-family: 'Lexend', sans-serif;
    margin-bottom: 5vw;
}
    h1{
        color: #ffffff;
        font-size: 6vw;
    }
    input{
        border-style: none;
        width: 44vw;
        height: fit-content;
        margin-left: 1em;
        font-size: 4vw;
    }
    input:focus {
        outline: none; /* Remove a borda de foco padrão */
    }
    img{
        width: 12vw;
        height: 12vw;
    }
    .search{
        display: flex;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        margin-right: 2vw;
        width: 55%;
        
    }
    .menu{
        position: absolute;
        top: 14vw;
        left: 2vw;
        height: 4vw;
        display: flex;
        background-color: #fff;
        color: #F4483C;
        font-size: 0vw;
     
    }
    .menu img{
        border-radius: 10px;
        margin-right: 1vw;
        width: 10vw;
        height: auto;
    }
    .rastreio{
        position: absolute;
        top: 25vw;
        left: 2vw;
        display: flex;
        color: #F4483C;
        width: fit-content;
        height: 4vw;
        margin-top: 1vw;
        font-size: 0vw;
    }
    .rastreio img{
        border-radius: 10px;
        margin-right: 1vw;
        width: 10vw;
        height: auto;
    }
    .sale{
        width: 100%;
        height: 6vw;
        background: linear-gradient(to bottom, #F4483C, #F4483C, #F4483C, #000000);
        box-shadow: 0px 15px 10px -15px #111; 
        border-radius: 10px;
        font-size: 4vw;
    }
    .sale h4{
        margin: auto;
        margin-top: 0.5vw;
        margin-left: 25vw;
        
    }
    .imagem{
        position: absolute;
        top: 12vw;
        right: 2vw;
        height: auto;
        background-color: #fff;
       
    }
    .imagem img{
        border-radius: 10px;
        display: block;
        margin-bottom: 1vw;
        width: 10vw;
        height: auto;
    }
    .logo_search{
        margin-left: -12vw;
  
    }
    header h3{
        margin-left: -5vw
    }
}

