<header>
<div class="principal">
    <h1>Camisetas</h1>
    <div>
        <div class="search">
            <input type="text" placeholder="Digite o nome do clube...">
            <img src="../../../assets/images/botao_pesquisa.png" alt="">
        </div>
        <img src="../../../assets/images/botao_add.png" alt="">
    </div>

        <h3>Português (BR)</h3>
        <button class="config">
            <img src="../../../assets/images/botao_configuracoes.png" alt="">
        </button>

</div>
<hr>
</header>
