.remove{
    background-color: red;
}
.flex{
    display: flex;
}
.camisetas{
    border-radius: 10px;
    margin-left: 1vw;
    font-size: 1vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2vw;
    margin-right: 1vw;
}