<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<body>
    <main>
        <div class="edit">
            <div class="principal">
                <h1>Atualizar Venda</h1>
                <form [formGroup]="form">
                        <h1>Nome: {{ this.venda.cliente.nome }}</h1>
                        <h1>CPF: {{ this.venda.cliente.cpf }}</h1>
                        <h1>Valor da compra: {{ this.venda.valor }}</h1>
                    <div class="atributos">
                        <label for="cliente_id">ID do cliente:</label>
                        <input 
                            formControlName="cliente_id"
                            id="cliente_id" 
                            [(ngModel)]="this.venda.cliente.id"
                            type="number">
                        <div *ngIf="f['cliente_id'].touched && f['cliente_id'].invalid" class="alert">
                            <div *ngIf="f['cliente_id'].errors?.['required']">(Preencha o campo acima)</div>
                        </div>
                    </div>
                    
                    <div class="atributos">
                        <label for="cliente_id">Data da compra:</label>
                        <input 
                            formControlName="data_compra"
                            id="data_compra" 
                            [(ngModel)]="this.venda.dia_venda"
                            type="text">
                        <div *ngIf="f['data_compra'].touched && f['data_compra'].invalid" class="alert">
                            <div *ngIf="f['data_compra'].errors?.['required']">(Preencha o campo acima)</div>
                        </div>
                    </div>
                    <button (click)="atualizaCompra()" [disabled]="!form.valid">Atualizar</button>
                   
                    <button [routerLink]="['/vendas/'+venda.id+'/add_camiseta']">Adicionar Camiseta</button>
                            
                    <div class="flex">
                        <div class="card" *ngFor="let camiseta of venda.camisetaVendas">
                            <img [src]="camiseta.camiseta.imagem" alt="{{ camiseta.camiseta.clube }}">
                                <h4>{{ camiseta.camiseta.clube }}</h4>
                                <h5>R$ {{ camiseta.valor }}</h5>
                                <h4>Quantidade: {{camiseta.quantidade}}</h4>
                                <button (click)="quantidadeCamiseta(camiseta)">Quantidade</button>
                                <button (click)="removerCamiseta(camiseta)">Remover</button>
                        </div>
                    </div>      
                </form>
            </div>
        </div>
    </main>
</body>
<div class="mostrar" *ngIf="atualizar">
    <div class="adicionar">
      <button class="close" (click)="fechar()">Fechar</button>
          <img [src]="this.camisetaVenda.camiseta.imagem" alt="{{ this.camisetaVenda.camiseta.clube }}">
        <h3>{{ this.camisetaVenda.camiseta.clube }}</h3>
        <h4>{{ this.camisetaVenda.camiseta.ano }}</h4>
        <h5>R$ {{ this.camisetaVenda.camiseta.valor }}</h5>    

        <div class = "quadrado">
        <label for="quantidade">Quantidade:</label>
        <input
          id="quantidade"
          [(ngModel)]="quantidade"
          type="number"
          placeholder="{{this.camisetaVenda.quantidade}}"
          max="{{ this.camisetaVenda.camiseta.quantidade }}"
        >
        <button (click)="AtualizaCamisetasVenda()">Atualizar quantidade</button>
      </div>
    </div>
  </div>
<app-footer></app-footer>