<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<main>
<button class="voltar" [routerLink]="['/shopping_cart']">Voltar</button>
    <div class="container">
        <div class="input" *ngIf="!nome || !cliente">
            <label for="cpfInput">Insira seu CPF:</label>
            <input type="text" id="cpfInput" placeholder="Digite seu CPF" [(ngModel)]="cpf" (ngModelChange)="onCpfChange()" [maxlength]="11">

        </div>
        <div class="input" *ngIf="!nome || !cliente">
            <label for="cpfInput">Redigite seu CPF:</label>
            <input type="text" id="cpfInput" placeholder="Digite seu CPF" [(ngModel)]="cpf2" (ngModelChange)="onCpfChange()" [maxlength]="11">
            <p *ngIf="naoCoincide">CPF's não coincidem</p>
        </div>
        <div class="input" *ngIf="inputNome && !cliente" >
            <label for="nomeInput">Insira seu nome completo:</label>
            <input type="text" id="nomeInput" placeholder="Digite seu nome" [(ngModel)]="nome">
        </div>
        <button class="voltar cadastrar_btn" (click)="cadastrarCliente()" *ngIf="nome && cpf && cadastrar && !naoCoincide">Cadastrar</button>
        <h3 class="nome" *ngIf="cliente">Seja bem-vindo! {{this.cliente.nome}}</h3>
    
    <h3>Camisetas:</h3>
    <div class="card" *ngFor="let camiseta of camisetas">
        <img [src]="camiseta.camiseta.imagem" alt="{{ camiseta.camiseta.clube }}">
        <div class="infos">
            <h3>{{ camiseta.camiseta.clube }}</h3>
            <h4>{{ camiseta.camiseta.ano }}</h4>
            <h5>R$ {{ camiseta.camiseta.valor }}</h5>
            <h3>Quantidade: {{ camiseta.quantidade }}</h3>
        </div>
    </div>
    <h3>Valor total: R$ {{this.valorCompra}}</h3>
    <button class="green" (click)="efetuarCompra()"  [disabled]="!cliente">Efetuar Compra</button>
</div>
<div class="aprovado" *ngIf="aprovado">
        <button class="green" [routerLink]="['']">Voltar para o site</button>
    <div class="quadrado">
        <h1>Pagamento aprovado!</h1>
        <img src="../../../../assets/images/correct.png" alt="validado">
    </div>
</div>
</main>
<app-footer></app-footer>