<app-header></app-header>
<app-loading *ngIf="carregar"></app-loading>
<main *ngIf="venda">
    <div class="infos" >
        <h3>Nome: {{ venda.cliente.nome }}</h3>
        <h3>CPF: {{ venda.cliente.cpf }}</h3>
    </div>
            <div class="card">
                <div class="venda_infos">
                    <h4 class="test">Valor total da compra: R$ {{ venda.valor }}</h4>
                    <h4>Data: {{ venda.dia_venda }}</h4>
                    <h4>Camisetas:</h4>
                </div>
                <div class="flex">
                    <div class="camisetas"  *ngFor="let camiseta of venda.camisetaVendas">
                        <img [src]="camiseta.camiseta.imagem" alt="{{ camiseta.camiseta.clube }}">
                        <div class="infos_camisetas">
                            <h4>{{ camiseta.camiseta.clube }}</h4>
                            <h5>R$ {{ camiseta.valor }}</h5>
                            <h4>Quantidade: {{ camiseta.quantidade }}</h4>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/vendas/edit', venda.id]">
                    <button>Atualizar</button>
                </a>
            </div>
  </main>
  <app-footer class="footer"></app-footer>